{{ define "main" }}
<ul id="product-grid">
    <a href="/music/maximum-impulse">
        <li>
            <img src="/assets/maximumimpulse.jpg" alt="Maximum Impulse Cover" />
            <div class="title">Maximum Impulse</div>
            <div class="price">$1.99 - $9.99</div>
        </li>
    </a>
    <a href="/music/neon-speed">
        <li>
            <img src="/assets/neonspeed.png" alt="Neon Speed Cover" />
            <div class="title">Neon Speed</div>
            <div class="price">$1.99 - $9.99</div>
        </li>
    </a>
</ul>
{{ end }}